<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Averias</span>
      <button class="btn btn-dark btn-lg float-end" routerLink="/create-averias">Agregar</button>
      <h5 style="margin-top: 30px;" *ngIf="averias.length == 0"> No hay datos para mostrar</h5>
      <table *ngIf="averias.length > 0" class="table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let averia of averias">
            <td>{{averia.nombre}}</td>
            <td>{{averia.apellido}}</td>
            <td>{{averia.documento}}</td>
            <td>{{averia.salario}}</td>
            <td>
              <i class="fas fa-edit fa-lg text-info" style="margin-right: 10px;" [routerLink]="['/editAveria/', averia.id]"></i>
              <i (click)="eliminarAveria(averia.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
