<div class="container pt-4">
  <div class="row">
    <div class=" col-lg-6 offset-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <h3>{{ titulo }}
              <div *ngIf="loading" class="spinner-border float-end" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </h3>
            <span *ngIf="submitted && createAveria.invalid" class="badge bg-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
            <form class="mt-4" [formGroup]="createAveria" (ngSubmit)="agregarEditarAveria()">
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control form-control-lg" formControlName="nombre" placeholder="Nombre">
                </div>
                <div class="col">
                  <input type="text" class="form-control form-control-lg" formControlName="apellido" placeholder="Apellido">
                </div>
              </div>
              <input type="text" class="form-control form control-lg mt-3" formControlName="documento" placeholder="Documento">
              <input type="number" class="form-control form control-lg mt-3" formControlName="salario" placeholder="Salario">
              <div class="mt-3">
                  <button type="text" class="btn btn-secondary btn-lg" style="margin-right: 20px;" routerLink="/list-averias">Volver</button>
                  <button type="submit" class="btn btn-dark btn-lg">Agregar</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
